@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

$main-font: 'Roboto',
sans-serif;


$blue: rgba(64, 198, 255, 1);
$blue-navigation: #008FCC;
$gradient-background: linear-gradient(204.79deg, #00ABF5 21.15%, #5CCEFF 100%);