@import "~normalize.css";

@import "_variables";

* {
  box-sizing: border-box;
}

.wrapper {
  background-color: $blue;
  width: 100vw;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  margin: 40px 0;
  padding: 0 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  &__title {
    margin: 0;
    color: white;
    font-family: $lato;
    font-size: 40px;
    font-weight: 400;
    letter-spacing: 6px;
  }

  &__menu-button {
    height: 30px;
    width: 40px;
    background-color: white;
    border: none;
  }
}

.content {
  height: 100%;
  padding: 26vh 0 10vh;
  position: relative;
  display: flex;
  flex-direction: column;
  // justify-content: space-between;
  align-items: center;

  &__counter {
    background-color: white;
    height: 200px;
    width: 200px;
    border-radius: 100px;
    border: none;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
    margin-bottom: 12vh;
  }

  &__buttons {
    width: 240px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.counter__number {
  font-size: 100px;
  text-align: center;
  line-height: 200px;
  font-family: $lato;
  margin: 0;
}

.button {
  height: 80px;
  width: 80px;
  border-radius: 40px;
  border: none;
  background-color: white;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
  padding: 0;
  position: relative;

  &:before {
    content: "";
    display: block;
    background-color: $blue;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 6px;
    width: 50px;
  }

  &--add {
    &:after {
      content: "";
      display: block;
      background-color: $blue;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      height: 50px;
      width: 6px;
    }
  }
}

.button-history {
  margin-top: 60px;
  font-family: $lato;
  font-size: 18px;
  letter-spacing: 1px;
  color: $blue;
  border-radius: 12px;
  border: none;
  background-color: white;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
  padding: 10px;
}

.history {
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100vw;
  background-color: $blue;
  display: none;

  &--active {
    display: block;
  }

  &__list {
    list-style: none;
    margin: 40px 0 0;
    padding: 0 40px;
  }

  &__item {
    font-family: $lato;
    font-size: 16px;
    margin-bottom: 12px;
    padding: 6px 10px;
    background-color: white;
    border-radius: 12px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    opacity: 0;
    animation: historyOpacity .2s forwards;
  }

  &__day,
  &__number {
    margin: 0;
    opacity: 0;
    animation: historyOpacity .2s .2s forwards;
  }
}

@keyframes historyOpacity {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}